
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');



.app{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  background-color: #6360FF;
  color: white;
}

#app-header{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
}

.logo {
  background-repeat: no-repeat;
  height: 7.5rem;
  margin-left: auto;
  margin-right: auto;
  
}

#login{
  height: 500px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 3vh;
  border: 1px solid #F1F1FA;
  background-color: #F1F1FA;
  border-radius: 20px 20px 0 0;
  padding: 20px;
}

#login input{
  background-color: white;
}

input{
  width: 100%;
  border: 2px solid#F1F1FA ;
  padding: 17px;
  margin: 3px 0;  
  border-radius: 7px;
  box-shadow: none;
}

.btn-login {
  width: 100%;
  margin: 5px 0;
  background-color:#6360FF;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  border: 1px solid #F1F1FA;
}


.btn-register {
  width: 100%;
  margin: 5px 0;
  background-color:#FF8181;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  border: 1px solid #F1F1FA;
}



.btn-danger{
  background-color: #FF8181;
  text-align: center;
}

#login p{
  color: #FF8181;
  font-size: 12px;
}

.content{
  padding-top: 20px;
}


