
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');



.app{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans', sans-serif;    
}

/* #app-header{  
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;  
} */


  
