

#header{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;  
}
.form-container {
  background-color: #6360FF;
  color: white;
  border-radius: 20px;
}

.logo {
  background-repeat: no-repeat;
  height: 7.5rem;
  margin-left: auto;
  margin-right: auto;
  
}

#login{
  height: 500px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 3vh;
  border: 1px solid #F1F1FA;
  background-color: #F1F1FA;
  border-radius: 20px 20px 0 0;
  padding: 20px;
}

#login input{
  background-color: white;
}

input{
  width: 100%;
  border: 2px solid#F1F1FA ;
  padding: 17px;
  margin: 3px 0;  
  border-radius: 7px;
  box-shadow: none;
}

.head-img {
  width: 25%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  transform: translate(-50%, -50%);
}

.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
}

.form-img-2 {
  width: 60%;
  height: 60%;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: black;
  font-size: 30px;
}

.account{
  color:black;
  text-align: center;
  margin:20px 0;
  font-size: 12px;
}
