@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');



.home-container{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;  
  background-color: #6360FF;
  background-size: cover;
  color: white;
  border-radius: 100px;
  height: 100%;  
}

.title {  
  margin: 10vh 4vh 6vh 4vh;   
  height: 30%;     
}

.title h2{
  text-align: center;
  font-size: 6vw;
  font-weight: bold;
  margin:3vh  
}

.title p {
  margin:0 8vw;
  font-size: 3vw;
  font-weight: bold;
}

.option{  
  height: 60%;  
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  border: 1px solid #F1F1FA;
  background-color: #F1F1FA;
  color: black;
  width: 100%;
  margin:0;
}

.option-title {
  display: flex;
  align-items: center;
  padding:1rem 0;
  margin:4vh 0;
}

.option-title h3{
  padding:0 2rem;
  font-weight: bold;
  font-size: 6vw;
}

.option-text {
  font-size: 20px;
}

.btn-continue {
  width: 100%;
  margin-top: 5vh;
  text-align: center;
  padding: 40px;
  border-radius: 7px;
  font-size: 20px;
  border: 1px solid #F1F1FA;
}

.log-out{
  text-align: right;
  margin-top: 2vh;
  color:black;
  font-size:12px; 
}

#log-out{
    text-decoration: none;       
    cursor: pointer;    
}

#log-out :hover{
    color:#413fb4;    
}
