@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  width: 320px;  
}

.container h2{
  text-align: center;
  margin: 1.5rem;
}
#log-out{
    display: flex;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#log-out :hover{
    color:#6360FF
}

.project {
  text-align: center;
}
.project__bg {
  display: flex;
  justify-content: center;
  background-color: #6360FF;
  background-size: cover;
  margin-top: 20px;  
  border-radius: 20px;
}

.project__img {
  width: 232px;
  justify-self: center;
}

.btn-continue {
  width: 100%;
  margin-top: 20px;
  background-color:#7DC579;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  color: white;
  font-size: 15px;
  border: 1px solid #F1F1FA;
}

.container-option{  
  height: 500px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 4vh;
  border: 1px solid #F1F1FA;
  background-color: #F1F1FA;
  border-radius: 10px;
  padding: 20px; 
  color: black; 
}

.section.title {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}
