
.note-top{
   padding: 8vw;
   height: 35%;    
}

.note-header {
   height:5vh;
   background-color: #6360FF;
   color: white;
   display: flex;    
   align-items: center;  
   font-size: 3vw;
   border: none; 
}

.note-header span {
   padding: 4vw;
   font-size: 3vw;
}

.note-title{   
   color: white;
   font-size: 4vw;   
}

.note-title h2 {
   font-size: 4.5vw;
   padding:0 1vh;
   font-weight: bold;
} 

 .note-bottom {
  width: 100%;  
  height: 65%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  border-radius: 50px 50px 0 0;  
  color: black; 
  border:none; 
  
}

.btn-note{
    display: flex;
    justify-content:flex-end; 
    width:100%;    
}
