
.practice-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  
  background-color: #6360FF;
  background-size: cover;
  color: white;
  height: 100vh;
  padding:0 ; 
}

.practice-container {
  height: 100vh;
}

.practice-header{
  height:5vh;
  background-color: #6360FF;
  align-content: center;
  color: white;
  font-size: 3vw;
  padding:0 3vh; 
}

.clock {
  text-align: right;
  font-size: 2vw;
  padding-right: 4vw;  
}


.practice-footer{    
    height:5vh;
    font-size: 3vh;
    background-color: white;
    color:black;    
    text-align: center;
    align-items: center;
    
}

.practice-top {  
  padding: 6vh 1vw 4vh 2vw;
  height: 30%;     
}

.practice-title h2 {  
  font-size: 4.5vw;
  padding:0 1vh;
  font-weight: bold;
}

.practice-title p {  
  font-size: 3vw;
  padding:1vh 1vh;  
}

.category{
    padding:2vw;
    margin:0 2vw ;
    border-radius: 30px;
    color:#6360FF;
    font-size: 2vw;
    font-weight: lighter;
}

 .practice-bottom {
  width: 100%;  
  height: 70%; 
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  border-radius: 50px 50px 0 0;
  background-color: white;
  color: black;  
  padding: 2vw;
}

.description {
  color:black;
  font-size: 3vw;
  padding:3vh 3vh 0 3vh;
}

.description p {    
  font-size: 3vw;
  padding:2vh 0;
  font-weight: bold;
}

.description h4 {    
  font-size: 3vw;  
  color:#6360FF;
}

.show-more {   
  color:#6360FF;
}

.author {
  padding: 1vh;
  font-size: 3vw;  
}

.profile{
    background-color: #f3f3f8;
    border-radius: 30px;
    padding: 4vw;
    justify-self: center;    
    font-size: 4vw;
    margin-bottom: 3vh;
}

.profile span {
  padding: 4vw;
  font-size: 4vw;
}

.btn-practice {
  text-align: center;
  width: 100%;
}
