.list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.item {
  margin: 0.1rem 0;
  padding: 0.5rem;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background-color: white;
}

.item p {
  margin: 0;
  margin-bottom: 0.25rem;
  text-align: left;
}

.badge-ref{
    padding:30px;
    border-radius: 5px;
    color:black;
    font-weight: lighter;
    text-align: left;
    white-space: pre-wrap;
    width: 100vw;
    font-size: 3vw;
    line-height: 1.6;
}


.reflect-container {
  display: flex;
  background-color: #6360FF;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  height: 100vh;
}


.title-reflection {  
  margin: 1vh 4vh 2vh 4vh;   
  height: 15%; 
  width:90%;    
}

.options-reflection{  
  height: 85%;  
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  border: 1px solid #F1F1FA;
  background-color: #F1F1FA;
  color: black;
  width: 100%;
  padding-top:2vh;
}

.option-footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  border: 1px solid #F1F1FA;
  background-color: #F1F1FA;
  color: black;
  width: 100%;
  padding-top:2vh;
}


.titles-reflection{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.reflect-top {
   color: white;
   padding: 1.45rem;
   align-items:flex-start;
} 

.card-header{
    background-color: transparent !important;
}

.reflect-top p{
  display: flex;
   text-align: left;
   justify-content: left;
   font-size: 4vw;
}

#reflect-footer{
    height:7vh;
    font-size: 3vh;
    background-color: white;
    color:black;    
    text-align: center;
    align-items: center;
    border-radius: 50px 50px 0 0;
    padding-top: 1vh;   
}

.card-text{
  width: 100%;
}

/* .btn{
  width: 100%;
} */

.reflection-top{
  margin: 7vh 4vh 6vh 4vh; 
  background-color:transparent !important;  
  border: none;
}

.ref-container{
  display: flex;
  background-color: #6360FF;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  height: 100vh;
}

.list-scroll{
  overflow-y: scroll;
  height: 90vh; 
  width:100vw;
  margin: 0 4vh 0 4vh;   
  background-color: #FCFCFF;
  border-radius: 50px 50px 0 0;  
  font-size: 3vw;
  padding:30px;
  text-align: justify;
}

.list-scroll::-webkit-scrollbar {
  display: none;
}


.ref-header {
  color:#FCFCFF;
  font-size: "4vw";
}

.answer{
  padding-top: 30px;
}

/* .reflect-main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  
  background-color: #6360FF;
  background-size: cover;
  color: white;
  height: 100vh;
  padding:0 ; 
} */


/* 
@media (min-width: 992px) {
  .reflect-main-container {
  height: 100%; 
  }
  .reflect-container {
  height: 100%; 
}
} */
